<!-- /expenses -->
{% extends 'base.html' %}

{% block content %}

<div class="container mt-3 card">
        <h2>Payments:</h2>            
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Subscription</th>
              <th>Date</th>
              <th>Total Amount</th>
              <th>Remaining</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for bill in bills_list %}

              <tr>
                <td>{{bill[2]}}</td>
                <td>{{bill[6]}}</td>
                <td>{{bill[4]}}</td>
                <td>{{bill[5]}}</td>
                <td>{{bill[3]}}</td>
                <td><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editPayment{{bill[0]}}" data-bs-whatever="@mdo">Edit</button>

                  <div class="modal fade" id="editPayment{{bill[0]}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editPaymentModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Payment</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('update', id=bill[0]) }}" method="post">
                            <div class="mb-3">
                              <label for="bill-name" class="col-form-label">Bill Name:</label>
                              <input type="text" class="form-control" name="bill-name" value="{{bill[2]}}">
                            </div>
                            <div class="mb-3">
                              <label for="bill-type" class="col-form-label">Bill Type: (Ex: Recurring, One-time)</label>
                              <input type="text" class="form-control" name="bill-type" value="{{bill[3]}}">
                            </div>
                            <div class="mb-3">
                              <label for="total-amount" class="col-form-label">Total Amount: (Ex: 50.25)</label>
                              <input type="text" class="form-control" name="total-amount" value="{{bill[4]}}">
                            </div>
                            <div class="mb-3">
                              <label for="total-amount" class="col-form-label">Remain Amount: (Ex: 50.25)</label>
                              <input type="text" class="form-control" name="remain-amount" value="{{bill[5]}}">
                            </div>
                            <div class="mb-3">
                              <label for="due-date" class="col-form-label">Due Date (yyyy-mm-dd):</label>
                              <input type="text" class="form-control" name="due-date" value="{{bill[6]}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                          <input type="submit" class="btn btn-primary" value='Edit Bill'>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <button type="button" class="btn btn-outline-danger"data-bs-toggle="modal" data-bs-target="#deletePayment{{bill[0]}}" data-bs-whatever="@mdo">Delete</button>

                  <div class="modal fade" id="deletePayment{{bill[0]}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deletePaymentModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <form action="{{ url_for('delete_bill', id=bill[0]) }}" method="post">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete Payment?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                              <input type="submit" class="btn btn-primary" value='Yes'>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </tr>
  
            {% endfor %}
          </tbody>
        </table>

        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addPayment" data-bs-whatever="@mdo">Add New Payment +</button>

        <div class="modal fade" id="addPayment" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addPaymentModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('expenses') }}" method="post">
                  <div class="mb-3">
                    <label for="bill-name" class="col-form-label">bill name:</label>
                    <input type="text" class="form-control" name="bill-name">
                  </div>
                  <div class="mb-3">
                    <label for="bill-type" class="col-form-label">bill type: (Ex: recurring, One-time)</label>
                    <input type="text" class="form-control" name="bill-type">
                  </div>
                  <div class="mb-3">
                    <label for="total-amount" class="col-form-label">total amount: (Ex: 50.25)</label>
                    <input type="text" class="form-control" name="total-amount">
                  </div>
                  <div class="mb-3">
                    <label for="due-date" class="col-form-label">due date (yyyy-mm-dd):</label>
                    <input type="text" class="form-control" name="due-date">
                  </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value='Add Bill'>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
        <br>

     


{% endblock %}
        
