<!-- /monthlybills -->
{% extends 'base.html' %}

{% block content %}
<div >
        <h1>Month Year</h1>
</div>
<div class="google-chart" onload="draw_chart()">
        <div id="chart_div" >
        </div>
        <div id="text-right">
                
                <h2>Total Payments Remaining: </h2>
                <script>
                        var total = 0;
                        console.log(total)
                        {% for bills in chart_data %}
                                total += parseFloat('{{ bills[1] }}');
                                console.log(total)
                        {% endfor %}
                        document.write("$" + total.toFixed(2));
                </script>
                
        </div>
        
</div>
<br>
<br>
<div class="container mt-3">
        <h2>Payments:</h2>            
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Subscription</th>
              <th>Date</th>
              <th>Remaining</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for bill in bills_list %}

              <tr>
                <td>{{bill[2]}}</td>
                <td>{{bill[6]}}</td>
                <td>{{bill[5]}}</td>
                <td>{{bill[3]}}</td>
              </tr>
  
            {% endfor %}
          </tbody>
        </table>
</div>
        
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
                var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        {% for data in chart_data %}

                        ['{{data[0]}}', {{data[1]}}],

                        {% endfor %}
                        ]);

                var options = {
                title: 'Remaining Amount',
                pieHole: 0.4,
                'width':700,
                'height':500

                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
        }

</script>
    
{% endblock %}


